
@{
    ViewBag.Title = "Index";
}


<h3>@Html.ActionLink("City","CityList", "City", new { Area = "CityArea" },null)</h3>
<h3>@Html.ActionLink("Customer", "CustomerList","Customer", new { Area = "CustomerArea" }, null)</h3>

